.header-frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
}

.input-field {
  height: 60px;
  width: 280px;
  font-size: 25px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .header-frame {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 15px;
    font-size: 25px;
  }
}
